= wrap_layout :bare do
  %head
    = tag "link", href: 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext',
      rel: 'stylesheet',
      type: 'text/css'

  %body
    .section
      = partial "nav"
      = yield
    = partial "footer"

